#profileBox{
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    background-color: bisque;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    display: grid;
    place-items: center;
}



body{
    background-color: grey;
}

.field{
    height: 30px;
}

button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
}

input{
    border-radius: 5px;
}

#sideBar{
    border: 2px solid black;
    float: right;
    height: 100vh;
    width: 300px;
    background-color: white;
}

.profileAdded{
    border: 1px solid black;
    height: 80px;
    display: grid;
    place-items: center;
}

.sidebtn{
    width: 50px;
}

#navBar{
    text-align: center;
    width: 200px;
    height: 800px;
    border: 2px solid black;
    float: left;
    background-color: white;
    border-radius: 20px;
}

.navItem{
    font-size: 30px;
    border-bottom: 1px solid blue;
}
.navItem:hover{
    cursor: pointer;
    background-color: grey;
}

#welcomeMsg{
    font-size: 3em;
}